In [1]:
print('hello')

hello

In [28]:
print('new')

new

In [3]:
print('new')

new

In [1]:
%%writefile butt.txt
eat my butt

Writing butt.txt

In [3]:
with open('butt.txt', mode='r') as myfile:
    contents = myfile.read()

In [4]:
contents

'eat my butt\n'

In [5]:
%%writefile new_butt.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing new_butt.txt

In [6]:
with open('new_butt.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [7]:
with open('new_butt.txt', mode='w') as f:
    f.write('FOUR ON FORTH')

In [8]:
with open('new_butt.txt', mode='r') as f:
    print(f.read())

FOUR ON FORTH

In [9]:
%%writefile new_butt.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting new_butt.txt

In [10]:
with open('new_butt.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [11]:
with open('new_butt.txt', mode='a') as f:
    f.write('FOUR ON FORTH')

In [12]:
with open('new_butt.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTH

In [13]:
with open('w_test.txt', mode='w') as f:
    f.write('IAMAGOD')

In [17]:
with open('w_test.txt', mode='r') as f:
    print(f.read())

IAMAGOD

In [18]:
5**2

25

In [19]:
5**2 * 4

100

In [21]:
5**3

125

In [23]:
(5**3 - 100) * 4 + .25

100.25

In [24]:
type(3 + 1.5 + 4)

float

In [27]:
sorted(list(set([6,5,3,5,5,5,6,7,2,3,4])))

[2, 3, 4, 5, 6, 7]

In [30]:
if True: 
    print('ITS TRUE!')

ITS TRUE!

In [40]:
def name_function():
    '''
    DOCSTRING: Info about the function
    INPUT: no input ...
    OUTPUT: Hello ...
    '''
    print('Hello')

In [38]:
name_function

In [42]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Info about the function
    INPUT: no input...
    OUTPUT: Hello ...

In [63]:
def say_hello(name='NAME'):
    return 'hello ' +name

In [62]:
result_say

NameError: name 'result_say' is not defined

In [64]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else: 
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [65]:
pig_latin('apple')

'appleay'

In [66]:
pig_latin('poop')

'ooppay'

In [67]:
pig_latin('fuck')

'uckfay'

In [75]:
def myfunc(a,b,c=0,d=0,e=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [77]:
myfunc(40,60,100,100,100,3,4)

TypeError: myfunc() takes from 2 to 5 positional arguments but 7 were given

In [85]:
def myfunc(*args):
    print(args)
    return sum(args) * 0.05

In [86]:
myfunc(40,60,100,100,100,3,4)

(40, 60, 100, 100, 100, 3, 4)

20.35

In [89]:
def myfunc1(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here.')

In [90]:
myfunc1(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [100]:
def myfunc(*args):
    print(args)
    return [num for num in args if num%2==0]

In [101]:
myfunc(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

[2, 4, 6, 8, 10]

In [162]:
def camel(*args):
    for word in args:
        str_list = [ char for char in word ]
        upper_index = [ num for num in range(len(str_list)) if num % 2 == 0 ]
        print(str_list)
        print(upper_index)

In [233]:
camel('poop','caca', 'shit')

['pOoP', 'cAcA', 'sHiT']

In [234]:
def camel(*args):
    reassembled = []
    for word in args:
        str_list = [ char for char in word ]
        for idx,letter in enumerate(str_list):
            if idx % 2 == 0:
                str_list[idx] = letter.lower()
            else:
                str_list[idx] = letter.upper()
        reassembled.append(''.join(str_list))
    return reassembled

In [258]:
def animal_crackers(text):
    words = text.split()
    print(words[0][0])
    print(words[1][0])

In [259]:
animal_crackers('Levelheaded Llama')

L
L

In [300]:
def old_macdonald(name):
    str_split = [ char for char in name ]
    str_split[0] = str_split[0].upper()
    str_split[3] = str_split[3].upper()
    return ''.join(str_split)

In [301]:
old_macdonald('macdonald')

'MacDonald'

In [298]:
def master_yoda(text):
    wrd_lst = text.split()
    wrd_lst.reverse()
    return ' '.join(wrd_lst)

In [299]:
master_yoda('I am home')

'home am I'

In [316]:
def almost_there(n):
    print(abs(n))
    if abs(n) in range(190, 211) or n in range(90, 111):
        return True
    else:
        return False

In [318]:
almost_there(101)

101

True

In [83]:
def has_33(nums):

    for i in range(0, len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    
    return False

In [84]:
has_33([1, 3, 1, 3, 4, 7, 3, 4])

False

In [61]:
def paper_doll(text):
    text_char = [ char for char in text ]
    triple_text_char = []
    for letter in text_char:
        triple_letter = letter * 3
        triple_text_char.append(triple_letter)
    return ''.join(triple_text_char)

In [62]:
paper_doll('Hello')

'HHHeeellllllooo'

In [73]:
def blackjack(a,b,c):
    card_list = [ a, b, c ]
    card_total = a + b + c
    if card_total < 21:
        return card_total
    elif card_total > 21 and 11 in card_list:
        return card_total - 10
    else:
        return 'BUST'

In [76]:
blackjack(9,9,11)

19

In [80]:
def summer_69(arr):
    total = 0
    add_up = True
    for num in arr:
        while add_up:
            if num != 6:
                total += num
                break
            else:
                add_up = False
        while add_up == False:
            if num != 9:
                break
            else:
                add_up = True
                break
    return total

In [81]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [102]:
def spy_game(nums):
    seek = [0, 0, 7, 'end']
    for num in nums:
        if num == seek[0]:
            seek.pop(0)
            
    return len(seek) == 1

In [103]:
spy_game([1,2,4,0,0,7,5])

True

In [60]:
def count_primes(num):
    prime_lst = []
    
    for digit in range(2, num + 1):
        if digit > 1:
            for i in range(2, digit):
                if digit % i == 0: 
                    break
            else:
                prime_lst.append(digit)
    
    return len(prime_lst)

In [61]:
count_primes(100)

25

In [69]:
def print_big(letter):
    plots = {
        1 : '*    ',
        2 : ' *   ',
        3 : '  *  ',
        4 : '   * ',
        5 : '    *',
        6 : '*****',
        7 : '**** ',
        8 : '*   *',
        9 : ' * * ',
        10: '***  ',
    }
    letters = {
        'A' : [3, 9, 6, 8, 8],
        'B' : [7, 8, 7, 8, 7],
        'C' : [6, 1, 1, 1, 6],
        'D' : [7, 8, 8, 8, 7],
        'E' : [6, 1, 6, 1, 6],
    }
    for plot in letters[letter.upper()]:
        print(plots[plot])

In [74]:
print_big('e')

*****
*
*****
*
*****

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1, 2, 3, 4, 5]

In [3]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [114]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [113]:
vol(2)

33.49333333333333

In [120]:
def ran_check(num,low,high):
    if num in range(low, high):
        return "{} is in the range between {} and {}".format(num, low, high)

In [121]:
ran_check(5,2,7)

'5 is in the range between 2 and 7'

In [122]:
def ran_bool(num,low,high):
    return num in range(low, high)

In [123]:
ran_bool(3,1,10)

True

In [193]:
def up_low(s):
    upper_count = 0
    lower_count = 0
    alpha_list = [ char for char in s if char.isalpha()]
    for letter in alpha_list:
        if letter.isupper():
            upper_count += 1
        else:
            lower_count += 1
    return print('\n'.join(["Original String : {}".format(s), "No. of Upper case characters : {}".format(upper_count), "No. of Lower case Characters : {}".format(lower_count)]))

In [194]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [132]:
' '.islower()

False

In [197]:
def unique_list(lst):
    return list(set(lst))

In [198]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [201]:
def multiply(numbers):  
    result = 1
    for digit in numbers:
        result *= digit
    return result

In [202]:
multiply([1,2,3,-4])

-24

In [208]:
def palindrome(s):
    return s == s[::-1]

In [209]:
palindrome('helleh')

True

In [303]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alpha_set = set(alphabet)
    str_set = set([ char.lower() for char in str1 if char.isalpha()])
    return alpha_set == str_set

In [305]:
ispangram("The quick brown fox jumps over the lazy dog")

{'o', 'i', 'b', 'd', 'e', 't', 'r', 'c', 'h', 'y', 'f', 's', 'm', 'z', 'v', 'j', 'g', 'l', 'n', 'w', 'x', 'u', 'p', 'q', 'a', 'k'}
{'o', 'i', 'b', 'd', 'e', 't', 'r', 'c', 'h', 'y', 'f', 's', 'm', 'z', 'v', 'j', 'l', 'w', 'n', 'g', 'x', 'u', 'p', 'q', 'a', 'k'}

True

In [324]:
from IPython.display import clear_output

def display_board(board): 
    print('  {}  |  {}  |  {}'.format(test_board[1], 
                                  test_board[2], 
                                  test_board[3]))
    print('----------------')
    print('  {}  |  {}  |  {}'.format(test_board[4], 
                                  test_board[5], 
                                  test_board[6]))   
    print('----------------')
    print('  {}  |  {}  |  {}'.format(test_board[7], 
                                  test_board[8], 
                                  test_board[9]))

In [445]:
test_board = ['#',' ',' ','X','O','X','O','X',' ','X']
display_board(test_board)

     |     |  X
----------------
  O  |  X  |  O
----------------
  X  |     |  X

In [334]:
def player_input():
    marker = ''
    
    while marker != 'X' and marker != 'O':
        marker = input('Player 1, choose X or O: ')
        
    player1 = marker
    
    if player1 == 'X':
        player2 = 'O'
    else:
        player2 = 'X'
    
    return(player1, player2)

In [335]:
player_input()

Player 1, choose X or O: 2
Player 1, choose X or O: x
Player 1, choose X or O: X

('X', 'O')

In [398]:
def place_marker(board, marker, position):
    if position in range(1, 10):
        if board[position] != 'X' or board[position] != 'O':
            board[position] = marker
        else:
            return "This spot is already inhabited"
    else:
        return "Select valid position: 1 - 9"

In [404]:
place_marker(test_board,'X',8)
display_board(test_board)

     |     |  X
----------------
  O  |  X  |  O
----------------
  X  |  X  |  X

In [405]:
def win_check(board, mark):
    return (
        (board[1] == mark and board[2] == mark and board[3] == mark) or
        (board[4] == mark and board[5] == mark and board[6] == mark) or
        (board[7] == mark and board[8] == mark and board[9] == mark) or
        (board[1] == mark and board[4] == mark and board[7] == mark) or
        (board[2] == mark and board[5] == mark and board[8] == mark) or
        (board[3] == mark and board[6] == mark and board[9] == mark) or
        (board[1] == mark and board[5] == mark and board[9] == mark) or
        (board[3] == mark and board[5] == mark and board[7] == mark)
    )

In [407]:
win_check(test_board,'X')

True

In [431]:
import random

def choose_first():
    if random.randint(1,2) == 1:
        return "Player1"
    else:
        return "Player2"

In [434]:
choose_first()

'Player1'

In [450]:
def space_check(board, position):
    return board[position].isalpha()

In [451]:
space_check(test_board, 3)

True

In [465]:
def full_board_check(board):
    return all(item.isalpha() or item == '#' for item in set(board))

In [466]:
full_board_check(test_board)

False

In [457]:
items = [[1, 2, 0], [1, 2, 0], [1, 2, 0]]
all(item[2] == 0 for item in items)

True

In [512]:
def player_choice(board):
    position = ''
    while position == '':
        try:
            choice = int(input('Enter a number from 1 to 9: '))
            if choice not in range(1, 9):
                raise ValueError
            elif space_check(board, choice):
                raise AssertionError
            else:
                position = choice
        except ValueError:
            print('Invalid integer. The number must be in the range of 1-9.')
            continue
        except AssertionError:
            print('Seats taken. Choose another spot.')
            continue
    return position

In [513]:
player_choice(test_board)

Enter a number from 1 to 9: 3
Seats taken. Choose another spot.
Enter a number from 1 to 9: 4
Seats taken. Choose another spot.
Enter a number from 1 to 9: 5
Seats taken. Choose another spot.
Enter a number from 1 to 9: 6
Seats taken. Choose another spot.
Enter a number from 1 to 9: 7
Seats taken. Choose another spot.
Enter a number from 1 to 9: 8

8

In [557]:
def replay():
    play_again = ' '
    answers = [ 'YES', 'Y', 'NO', 'N']
    while play_again == ' ':
        try:
            choice = str(input('Play Again? Enter {}: '.format(answers))).upper()
            if choice not in answers:
                raise ValueError
            elif choice in answers[:2]:
                return True
            elif choice in answers[2:]:
                return False
        except ValueError:
            print('Please enter "YES"/"Y" or "NO"/"N"\n')
            continue

In [560]:
replay()

Play Again? Enter ['YES', 'Y', 'NO', 'N']: n

False

In [7]:
print(['#'] + [' '] * 9)

['#', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [4]:
set(['title', 'score','title', 'score'])

{'score', 'title'}