# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [90]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [89]:
# Check
lesser_of_two_evens(2,4)

2

In [88]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [91]:
def animal_crackers(text):
    words = text.lower().split()
    print(words[0], words[0][0])
    print(words[1], words[1][0])
    return words[0][0] == words[1][0]

In [92]:
# Check
animal_crackers('Levelheaded Llama')

levelheaded l
llama l

True

In [93]:
# Check
animal_crackers('Crazy Kangaroo')

crazy c
kangaroo k

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [94]:
def makes_twenty(n1,n2):
    return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [95]:
# Check
makes_twenty(20,10)

True

In [96]:
# Check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [33]:
def old_macdonald(name):
    str_split = [char for char in name]
    str_split[0] = str_split[0].upper()
    str_split[3] = str_split[3].upper()
    return ''.join(str_split)

In [34]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [35]:
def master_yoda(text):
    wrd_lst = text.split()
    wrd_lst.reverse()
    return ' '.join(wrd_lst)

In [36]:
# Check
master_yoda('I am home')

'home am I'

In [37]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [97]:
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

In [98]:
# Check
almost_there(104)

True

In [99]:
# Check
almost_there(150)

False

In [100]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [51]:
def has_33(nums):
    pos = 0
    bool_list = []
    while pos < len(nums):
        if nums[pos] != 3:
            bool_list.append(False)
            pos += 1 
        else:
            bool_list.append(True)
            pos += 1

    itr = 0
    while itr < len(nums) - 1:
        if bool_list[itr] == True:
            itr += 1
            if bool_list[itr] == True:
                return True
        else:
            itr += 1
            
    return False

In [52]:
# Check
has_33([1, 3, 3])

True

In [53]:
# Check
has_33([1, 3, 1, 3])

False

In [54]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [62]:
def paper_doll(text):
    triple_text = ''
    for char in text:
        triple_text += char * 3
    return triple_text

In [63]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [64]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [111]:
def blackjack(a,b,c):
    card_list = [ a, b, c ]
    card_total = sum(card_list)
    if card_total <= 21:
        return card_total
    elif card_total <= 31 and 11 in card_list:
        return card_total - 10
    else:
        return 'BUST'

In [112]:
# Check
blackjack(5,6,7)

18

In [113]:
# Check
blackjack(9,9,9)

'BUST'

In [114]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [65]:
def summer_69(arr):
    total = 0
    add_up = True
    for num in arr:
        while add_up:
            if num != 6:
                total += num
                break
            else:
                add_up = False
        while add_up == False:
            if num != 9:
                break
            else:
                add_up = True
                break
    return total

In [66]:
# Check
summer_69([1, 3, 5])

9

In [67]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [68]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [115]:
def spy_game(nums):
    seek = [0, 0, 7, 'end']
    for num in nums:
        if num == seek[0]:
            seek.pop(0)
            
    return len(seek) == 1

In [70]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [71]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [72]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [120]:
def count_primes(num):
    prime_lst = []
    
    for digit in range(2, num + 1):
        if digit > 1:
            for i in range(2, digit):
                if digit % i == 0: 
                    break
            else:
                prime_lst.append(digit)
    print(prime_lst)
    return len(prime_lst)

In [121]:
# Check
count_primes(500)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

95

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [78]:
def print_big(letter):
    plots = {
        1 : '*    ',
        2 : ' *   ',
        3 : '  *  ',
        4 : '   * ',
        5 : '    *',
        6 : '*****',
        7 : '**** ',
        8 : '*   *',
        9 : ' * * ',
        10: '***  ',
    }
    letters = {
        'A' : [3, 9, 6, 8, 8],
        'B' : [7, 8, 7, 8, 7],
        'C' : [6, 1, 1, 1, 6],
        'D' : [7, 8, 8, 8, 7],
        'E' : [6, 1, 6, 1, 6],
    }
    for plot in letters[letter.upper()]:
        print(plots[plot])

In [79]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!